@{
    ViewData["Title"] = "Home Page";
}
@model ReserveBot.Web.Models.Teams.TeamsViewModel
<div class="text-center">
    <h1 class="display-4">Команды</h1>
</div>

@Html.ActionLink("Добавить", "Add")

<table class="table">
    <tr>
        <th>ИД</th>
        <th>Название</th>
        <th></th>
    </tr>

    @foreach (var team in Model.Teams)
    {
        <tr>
            <td>@team.Id</td>
            <td>@team.Name</td>
            <td>@Html.ActionLink("Удалить", "Delete", new {id = team.Id})</td>
        </tr>
    }

</table>